In [1]:
#Load libaries
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np 
import datetime as dt 

#Load datasets
FireRec = pd.read_csv('mapdataall-4.csv')

In [2]:
FireRec

,incident_name,incident_is_final,incident_date_last_update,incident_date_created,incident_administrative_unit,incident_administrative_unit_url,incident_county,incident_location,incident_acres_burned,incident_containment,...,incident_latitude,incident_type,incident_id,incident_url,incident_date_extinguished,incident_dateonly_extinguished,incident_dateonly_created,is_active,calfire_incident,notification_desired
0,Bridge Fire,True,2018-01-09T13:46:00Z,2017-10-31T11:22:00Z,Shasta-Trinity National Forest,NaN,Shasta,"I-5 and Turntable Bay, 7 miles NE of Shasta Lake",37.0,100.0,...,40.774000,NaN,2ca11d45-8139-4c16-8af0-880d99b21e82,https://www.fire.ca.gov/incidents/2017/10/31/b...,2018-01-09T13:46:00Z,2018-01-09,2017-10-31,N,False,False
1,Pala Fire,True,2020-09-16T14:07:35Z,2009-05-24T14:56:00Z,CAL FIRE San Diego Unit,NaN,San Diego,"Hwy 76 and Pala Temecula, northwest of Pala",122.0,100.0,...,1.000000,Wildfire,8f61f461-552d-4538-b186-35ab030da416,https://www.fire.ca.gov/incidents/2009/5/24/pa...,2009-05-25T00:00:00Z,2009-05-25,2009-05-24,N,True,False
2,River Fire,True,2013-02-28T20:00:00Z,2013-02-24T08:16:00Z,CAL FIRE San Bernardino Unit,NaN,Inyo,"south of Narrow Gauge Rd & north of Hwy 136, e...",406.0,100.0,...,36.602575,NaN,094719ba-a47b-4abb-9ec5-a506b2b9fd23,https://www.fire.ca.gov/incidents/2013/2/24/ri...,2013-02-28T20:00:00Z,2013-02-28,2013-02-24,N,True,False
3,Fawnskin Fire,True,2013-04-22T09:00:00Z,2013-04-20T17:30:00Z,San Bernardino National Forest,NaN,San Bernardino,"west of Delamar Mountain, north of the communi...",30.0,100.0,...,34.288877,NaN,58f89ff8-bd3e-4355-b1c0-8fa05c747d3f,https://www.fire.ca.gov/incidents/2013/4/20/fa...,2013-04-22T09:00:00Z,2013-04-22,2013-04-20,N,False,False
4,Gold Fire,True,2013-05-01T07:00:00Z,2013-04-30T12:59:00Z,CAL FIRE Madera-Mariposa-Merced Unit,NaN,Madera,Between Road 210 and Road 200 near Fine Gold C...,274.0,100.0,...,37.116295,NaN,357ffc13-bef9-48eb-810f-c5de851972eb,https://www.fire.ca.gov/incidents/2013/4/30/go...,2013-05-01T07:00:00Z,2013-05-01,2013-04-30,N,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,Wolf Fire,True,2021-01-20T07:12:29Z,2021-01-19T11:47:00Z,Kern County Fire Department,NaN,NaN,Hwy 166 along the Wind Wolves Preserve,685.0,100.0,...,34.994320,NaN,75711186-5792-4c41-9309-48dbac8e667d,https://www.fire.ca.gov/incidents/2021/1/19/wo...,2021-01-20T07:12:18Z,2021-01-20,2021-01-19,N,True,False
1733,72 Fire,True,2021-01-25T13:47:05Z,2021-01-19T14:48:24Z,CAL FIRE/ Riverside County Fire Department,NaN,Riverside,"Ave 72 and Pierce St, south of Oasis",43.0,100.0,...,33.528710,Wildfire,b38fdc2c-3108-4273-8a67-8d69bdbfb6bb,https://www.fire.ca.gov/incidents/2021/1/19/72...,2021-01-20T13:46:53Z,2021-01-20,2021-01-19,N,True,False
1734,Towsley Fire,True,2021-01-22T18:12:51Z,2021-01-19T15:04:08Z,Los Angeles County Fire Department,NaN,NaN,"Towsley Canyon Road and I-5, South of Santa Cl...",184.0,100.0,...,34.358523,NaN,79aca6f4-ee40-44e8-9dff-069c36c36fc1,https://www.fire.ca.gov/incidents/2021/1/19/to...,2021-01-22T18:12:36Z,2021-01-22,2021-01-19,N,True,False
1735,Panther Ridge Fire,True,2021-01-22T18:04:04Z,2021-01-19T15:25:39Z,CAL FIRE San Mateo-Santa Cruz Unit,NaN,NaN,"Stapp Rd and Hwy 9, north of Boulder Creek",20.0,100.0,...,37.183810,Wildfire,7be84564-edf7-4724-99ba-5c1ee7f86e30,https://www.fire.ca.gov/incidents/2021/1/19/pa...,2021-01-22T18:02:12Z,2021-01-22,2021-01-19,N,True,False
1736,Freedom Fire,True,2021-01-22T18:09:40Z,2021-01-19T19:13:18Z,CAL FIRE San Mateo Santa Cruz Unit,NaN,NaN,"Freedom Boulevard and Hames Road, East of Aptos",37.0,100.0,...,36.987670,Wildfire,1ebddf4e-0190-4363-a858-ac789206b5fd,https://www.fire.ca.gov/incidents/2021/1/19/fr...,2021-01-22T18:09:27Z,2021-01-22,2021-01-19,N,True,False

In [3]:
Data = FireRec[["incident_type","incident_dateonly_extinguished","incident_dateonly_created","calfire_incident"]]

In [4]:
Data

,incident_type,incident_dateonly_extinguished,incident_dateonly_created,calfire_incident
0,NaN,2018-01-09,2017-10-31,False
1,Wildfire,2009-05-25,2009-05-24,True
2,NaN,2013-02-28,2013-02-24,True
3,NaN,2013-04-22,2013-04-20,False
4,NaN,2013-05-01,2013-04-30,True
...,...,...,...,...
1732,NaN,2021-01-20,2021-01-19,True
1733,Wildfire,2021-01-20,2021-01-19,True
1734,NaN,2021-01-22,2021-01-19,True
1735,Wildfire,2021-01-22,2021-01-19,True
1736,Wildfire,2021-01-22,2021-01-19,True

In [5]:
Data_Wildfire = Data[Data['incident_type']=='Wildfire']

In [6]:
Data_Wildfire

,incident_type,incident_dateonly_extinguished,incident_dateonly_created,calfire_incident
1,Wildfire,2009-05-25,2009-05-24,True
188,Wildfire,2014-08-02,2014-07-25,True
840,Wildfire,2018-02-09,2017-10-08,True
841,Wildfire,2018-02-09,2017-10-08,True
842,Wildfire,2018-02-09,2017-10-08,True
...,...,...,...,...
1729,Wildfire,NaN,2021-01-19,True
1730,Wildfire,NaN,2021-01-18,True
1733,Wildfire,2021-01-20,2021-01-19,True
1735,Wildfire,2021-01-22,2021-01-19,True
1736,Wildfire,2021-01-22,2021-01-19,True

In [7]:
Data_CAFire= Data_Wildfire[Data_Wildfire['calfire_incident']==True]

In [8]:
Data_CAFire

,incident_type,incident_dateonly_extinguished,incident_dateonly_created,calfire_incident
1,Wildfire,2009-05-25,2009-05-24,True
188,Wildfire,2014-08-02,2014-07-25,True
840,Wildfire,2018-02-09,2017-10-08,True
841,Wildfire,2018-02-09,2017-10-08,True
842,Wildfire,2018-02-09,2017-10-08,True
...,...,...,...,...
1729,Wildfire,NaN,2021-01-19,True
1730,Wildfire,NaN,2021-01-18,True
1733,Wildfire,2021-01-20,2021-01-19,True
1735,Wildfire,2021-01-22,2021-01-19,True
1736,Wildfire,2021-01-22,2021-01-19,True

In [9]:
DataDropNaN = Data_CAFire.dropna()

In [10]:
DataDropNaN

,incident_type,incident_dateonly_extinguished,incident_dateonly_created,calfire_incident
1,Wildfire,2009-05-25,2009-05-24,True
188,Wildfire,2014-08-02,2014-07-25,True
840,Wildfire,2018-02-09,2017-10-08,True
841,Wildfire,2018-02-09,2017-10-08,True
842,Wildfire,2018-02-09,2017-10-08,True
...,...,...,...,...
1724,Wildfire,2020-12-03,2020-12-03,True
1726,Wildfire,2020-12-14,2020-12-13,True
1733,Wildfire,2021-01-20,2021-01-19,True
1735,Wildfire,2021-01-22,2021-01-19,True
1736,Wildfire,2021-01-22,2021-01-19,True

In [11]:
DataDropNaN.dtypes

incident_type                     object
incident_dateonly_extinguished    object
incident_dateonly_created         object
calfire_incident                    bool
dtype: object

In [12]:
DataDropNaN.loc[:,("Date")] = pd.to_datetime(DataDropNaN['incident_dateonly_created'])
dataFormattedDates = DataDropNaN
dataFormattedDates

C:\Users\kayle\Anaconda3\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\kayle\Anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,incident_type,incident_dateonly_extinguished,incident_dateonly_created,calfire_incident,Date
1,Wildfire,2009-05-25,2009-05-24,True,2009-05-24
188,Wildfire,2014-08-02,2014-07-25,True,2014-07-25
840,Wildfire,2018-02-09,2017-10-08,True,2017-10-08
841,Wildfire,2018-02-09,2017-10-08,True,2017-10-08
842,Wildfire,2018-02-09,2017-10-08,True,2017-10-08
...,...,...,...,...,...
1724,Wildfire,2020-12-03,2020-12-03,True,2020-12-03
1726,Wildfire,2020-12-14,2020-12-13,True,2020-12-13
1733,Wildfire,2021-01-20,2021-01-19,True,2021-01-19
1735,Wildfire,2021-01-22,2021-01-19,True,2021-01-19
1736,Wildfire,2021-01-22,2021-01-19,True,2021-01-19

In [13]:
dataFormattedDatesAfter2019 = dataFormattedDates[dataFormattedDates['Date'].dt.year >= 2019]
dataFormattedDatesAfter2019andBefore2021 = dataFormattedDatesAfter2019 [dataFormattedDatesAfter2019['Date'].dt.year <= 2020]
fireRecordData = dataFormattedDatesAfter2019andBefore2021
fireRecordData

,incident_type,incident_dateonly_extinguished,incident_dateonly_created,calfire_incident,Date
1246,Wildfire,2019-06-21,2019-06-16,True,2019-06-16
1262,Wildfire,2019-07-02,2019-06-29,True,2019-06-29
1265,Wildfire,2019-07-05,2019-07-03,True,2019-07-03
1266,Wildfire,2019-07-05,2019-07-05,True,2019-07-05
1267,Wildfire,2019-07-05,2019-07-05,True,2019-07-05
...,...,...,...,...,...
1719,Wildfire,2020-11-17,2020-11-17,True,2020-11-17
1720,Wildfire,2020-12-12,2020-12-01,True,2020-12-01
1722,Wildfire,2020-12-10,2020-12-02,True,2020-12-02
1724,Wildfire,2020-12-03,2020-12-03,True,2020-12-03
1726,Wildfire,2020-12-14,2020-12-13,True,2020-12-13

In [14]:
fireRecordData2 = fireRecordData[["incident_dateonly_extinguished","incident_dateonly_created"]]

In [15]:
fireRecordData2

     incident_dateonly_extinguished incident_dateonly_created
1246                     2019-06-21                2019-06-16
1262                     2019-07-02                2019-06-29
1265                     2019-07-05                2019-07-03
1266                     2019-07-05                2019-07-05
1267                     2019-07-05                2019-07-05
...                             ...                       ...
1719                     2020-11-17                2020-11-17
1720                     2020-12-12                2020-12-01
1722                     2020-12-10                2020-12-02
1724                     2020-12-03                2020-12-03
1726                     2020-12-14                2020-12-13

[234 rows x 2 columns]

In [16]:
fireRecordData2[["incident_dateonly_extinguished","incident_dateonly_created"]]= fireRecordData2[["incident_dateonly_extinguished","incident_dateonly_created"]].apply(pd.to_datetime)

C:\Users\kayle\Anaconda3\lib\site-packages\pandas\core\frame.py:3188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [17]:
fireRecordData2 #Data in datetime format

     incident_dateonly_extinguished incident_dateonly_created
1246                     2019-06-21                2019-06-16
1262                     2019-07-02                2019-06-29
1265                     2019-07-05                2019-07-03
1266                     2019-07-05                2019-07-05
1267                     2019-07-05                2019-07-05
...                             ...                       ...
1719                     2020-11-17                2020-11-17
1720                     2020-12-12                2020-12-01
1722                     2020-12-10                2020-12-02
1724                     2020-12-03                2020-12-03
1726                     2020-12-14                2020-12-13

[234 rows x 2 columns]

In [18]:
def datesplit(data):
    parts = []
    for idx, row in data.iterrows():
        parts.append(pd.DataFrame(index=pd.date_range(start=row['incident_dateonly_created'], end=row['incident_dateonly_extinguished'],name='BurnedDate')))
    return pd.concat(parts).reset_index()

In [19]:
fireRecord = datesplit(fireRecordData2)  #Get all date in range of start and end date
fireRecord = fireRecord.drop_duplicates(subset='BurnedDate') # Drop duplicates

In [20]:
fireRecord

     BurnedDate
0    2019-06-16
1    2019-06-17
2    2019-06-18
3    2019-06-19
4    2019-06-20
...         ...
1019 2020-12-10
1020 2020-12-11
1021 2020-12-12
1032 2020-12-13
1033 2020-12-14

[292 rows x 1 columns]

In [21]:
TA = pd.read_csv('TA.csv')
NDVI = pd.read_csv('NDVI2018_2020.csv')
LST = pd.read_csv('LST_BA.csv')

In [22]:
TA["Class"] = "No_fire"
TA                        #TA dataset

           Date   TA    Class
0    01/01/2019  5.0  No_fire
1    01/02/2019  5.0  No_fire
2    01/03/2019  5.0  No_fire
3    01/04/2019  5.0  No_fire
4    01/05/2019  4.0  No_fire
..          ...  ...      ...
726  12/27/2020  5.0  No_fire
727  12/28/2020  8.0  No_fire
728  12/29/2020  5.0  No_fire
729  12/30/2020  5.0  No_fire
730  12/31/2020  5.0  No_fire

[731 rows x 3 columns]

In [23]:
TA['Date'] = pd.to_datetime(TA['Date']).dt.date

In [24]:
for idx, TADate in enumerate(TA['Date']):
    for fireDate in fireRecord['BurnedDate']:
        if ((TADate == fireDate)):
            TA['Class'][idx] = 'Fire'
#             print(TADate, fireDate) # for debugging
TA

C:\Users\kayle\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

           Date   TA    Class
0    2019-01-01  5.0  No_fire
1    2019-01-02  5.0  No_fire
2    2019-01-03  5.0  No_fire
3    2019-01-04  5.0  No_fire
4    2019-01-05  4.0  No_fire
..          ...  ...      ...
726  2020-12-27  5.0  No_fire
727  2020-12-28  8.0  No_fire
728  2020-12-29  5.0  No_fire
729  2020-12-30  5.0  No_fire
730  2020-12-31  5.0  No_fire

[731 rows x 3 columns]

In [25]:
TA['Class'].value_counts()

No_fire    439
Fire       292
Name: Class, dtype: int64

In [26]:
NDVI = NDVI.reindex(list(range(0, 731))).reset_index(drop=True)

In [27]:
NDVI

           Date      NDVI
0    2019-01-01  0.241233
1    2019-01-02  0.242536
2    2019-01-03  0.243840
3    2019-01-04  0.245143
4    2019-01-05  0.246446
..          ...       ...
726         NaN       NaN
727         NaN       NaN
728         NaN       NaN
729         NaN       NaN
730         NaN       NaN

[731 rows x 2 columns]

In [28]:
LST

     Unnamed: 0        Date         LST
0             0  01/01/2019  280.170902
1             1  01/02/2019  281.678667
2             2  01/03/2019  285.865983
3             3  01/04/2019  283.249994
4             4  01/05/2019  275.546052
..          ...         ...         ...
726         726  12/27/2020  285.095924
727         727  12/28/2020  279.868729
728         728  12/29/2020  281.404568
729         729  12/30/2020  284.108339
730         730  12/31/2020  279.166502

[731 rows x 3 columns]

In [29]:
data = [NDVI["NDVI"],LST["LST"],TA["TA"],TA["Class"]]
Cols_name=["NDVI","LST","TA","Class"]

In [30]:
CA_Wildfires = pd.concat(data, axis=1, keys=Cols_name)

In [31]:
CA_Wildfires

         NDVI         LST   TA    Class
0    0.241233  280.170902  5.0  No_fire
1    0.242536  281.678667  5.0  No_fire
2    0.243840  285.865983  5.0  No_fire
3    0.245143  283.249994  5.0  No_fire
4    0.246446  275.546052  4.0  No_fire
..        ...         ...  ...      ...
726       NaN  285.095924  5.0  No_fire
727       NaN  279.868729  8.0  No_fire
728       NaN  281.404568  5.0  No_fire
729       NaN  284.108339  5.0  No_fire
730       NaN  279.166502  5.0  No_fire

[731 rows x 4 columns]

In [32]:
CA_Wildfires['NDVI'].isna().sum()

13